<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/playlister.css" rel="stylesheet">
  </head>
 <body>
 	<%=@genre.name%>

	<%@genre.artists.map do |artist|%>
	<a href="/artists/<%= artist.slug %>"><%= artist.name %></a>
	<%end%>
	<br></br>
	<%@genre.songs.map do |song|%>
	<a href="/songs/<%= song.slug %>"><%= song.name %></a>
	<%end%>
	
</body>
</html>