<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/playlister.css" rel="stylesheet">
  </head>
 <body>
	<%= @artist.name %>

	<% @artist.songs.map do |song| %>
	<a href="/songs/<%= song.slug %>"><%= song.name %></a>
	<%end%>
	<br></br>

	<% @artist.genres.map do |genre| %>
	<a href="/genres/<%= genre.slug %>"><%= genre.name %></a>
	<%end%>
	

</body>
</html>