<h3>Artist Name: <%= @artist.name %> </h3>
<% @artist.songs.each do |x| %>
  <a href="/songs/<%=x.slug%>"><h3>Song Name: <%= x.name %></h3></a>
<% end %>
<h3>Genre:</h3>
<% @artist.genres.each do |x| %>
  <a href="/genres/<%=x.slug%>"><h3><%= x.name %></h3></a>
<% end %>
