<h4><%= @artist.name %><a href="/artists/<%=@artist.slug%>">Link</a></h4>
</h4> <% @artist.songs.each do |song| %>
<h4><%= song.name %></h4> <a href="/songs/<%=song.slug%>">Link</a></h4>
<% end %>
<% @artist.genres.each do |genre| %>
<h4><%= genre.name %></h4><a href="/genres/<%=genre.slug%>">Link</a></h4>
<% end %>
