<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Edit Song:</h1>

<form method="POST" action="/songs/<%= @song.slug%>/edit">
  Name: <%= @song.name %><br><br>

  Artist: <input type="text" id="Artist Name" name="artist_name" value="<%=@song.artist.name %>"><br><br>

  Genre: 
  <% Genre.all.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>><%= genre.name.capitalize %></input>
  <% end %><br><br>

  <input type="submit" value="Save">
</form>