<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Update Song: <%= @song.name %></h1>
<form method="post" action="/songs/<%=@song.slug%>">
<input id="hidden" type="hidden" name="_method" value="patch">
Song Name: <input type="text" name="name" value="<%= @song.name %>" id="Name">
Artist Name: <input type="text" name="artist_name" value="
<%= @song.artist.name %>" id="Artist Name">
Genres: <% Genre.all.each do |genre| %>
  <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%=genre.id%>" <%='checked' if @song.genres.include?(genre.id) %>> 
  <%=genre.name%>
<% end %>


<input type="submit" value="Save">


</form>