
<p>Song Name: <%= @song.name %></p>
<a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a>
<%  @song.genres.map do |genre|%>
<a href="/genres/<%=genre.slug%>"><%=genre.name%></a>
<%end%>
